<!Doctype html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | Lucy’s Personal Website</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <div id="layout">
        <header>
            <nav id="myNavbar">
                <a href="{{ site.baseurl }}/index.html">Home</a>
                <a href="{{ site.baseurl }}/">About</a>
                <a href="{{ site.baseurl }}/projects.html">Projects</a>
                <a href="{{ site.baseurl }}/contact.html">Contact</a>  
            </nav>
        </header>
        <main id="content" class="content">
            <div class="Title">
                <h1>
                    Yess about me
                </h1>
            </div>
            <div class="intro-section">
                {{ content }}
            </div>
        </main>
    </div>
</body>
</html>